<p>Hello <%= @user.email%></p>

<p>Welcome to <%= link_to "BalatoExchange", transactions_url %>. Thanks for signing up fam. Click our name to proceed to your new home.</p>

<p>Feel free to gamble your money here.</p>
<p>Please...</p>
<p>1 transaction = 1 child saved</p>